html{
    background-color:white;
}
    li{
        color:579FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size:18pt;
    }
    h1{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:700;
        font-size:48pt;
    }


