/* Mobile version */

html{
    background-color:white;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
}

article{
    margin:0px 16px;
}
aside{
    margin:0px 32px;
}

    b {
       font-weight: 600; 
    }

    em {
        font-style: italic;
    }
    
    li{
        color:579FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size:18pt;
    }

    hgroup a:link {
        color: #0044F3;
    }
    
    hgroup a:hover {
        color: #A500F3;
    }

    hgroup a:visited {
        color: #640094;
    }

    header li {
        font-family: 'Montserrat', sans-serif;
        color:#579FFF
    }

    li p {
        font-family: 'Montserrat', sans-serif;
        color:#579FFF
    }

    hr{
        border-bottom: 1px solid black;
        width: 100%;
        margin:20px 0px;
    }

    .menuhr {
        width: 10em;
    }


    h1{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:42pt;
        margin-bottom:2%;
        line-height:1.05em;
    }

    h2{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:36pt;
        margin-bottom:1.5rem;
        line-height:1.1em;
        display: flex;
    }    

    h3 {
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        font-size:18pt;
        margin-bottom:1rem;  
    } 

    header {
        margin:32px;
    }

    header p{
        font-family: 'Montserrat', sans-serif;
        font-size:16pt;
        margin:2% 0%;
    }
    header section p{
        margin-left:-16px;
    }
    header section button{
        margin-left:-16px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    nav button{
        background-color:white;
        margin: 0px;
    }


    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:8px 16px;
        padding: 5px 15px 5px 15px;
        border-radius: 50px;
        border: 1px solid black;
    }

    header button:hover{
        background-color:#D6E7FF;
    }
    
    nav button:nth-child(2):hover{
        background-color:#D6E7FF;
    }

    nav button:nth-child(3):hover{
    background-color:#FFD8D6;
    }

    nav button:nth-child(4):hover{
    background-color:#FCFFD8;
    }

    nav button:nth-child(5):hover{
        background-color:#DDFFD8;
    }

    nav button:nth-child(6):hover{
        background-color:#F9D8FF;
    }

    nav button:nth-child(7):hover{
        background-color:#C5CFE1;
    }
    
    header button {
        font-size: 20px;
    
    }

    menu {
        margin: 16px;
    }

    menu button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:0.5rem 0rem;
        padding: 0px;
        border-radius: 50px;
        border: 0px;
    }

    menu a {
        padding-left: 8px;
    }

    menu button:hover {
        color: #0044F3;
        font-weight: 700px;
    }

    menu ul {
        display: flex;
        flex-direction: column;
        margin: 16px 0px 16px 0px;
    }

    p {
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:400;
        font-size:20pt;
        line-height: 1.25;
        margin-bottom: 2rem;
    }

    article a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 600;
    }

    

    article a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 600;
    }
    
    article a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 600;
    }

    .author a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 600;
    }

    .author a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 600;
    }
    
    .author a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 600;
    }
    
    header ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
    }

    section {
        padding: 0px 16px 0px 16px;
        margin: 64px 0px 64px 0px;
    }

    .author {
        background-color: #D2E5FD;
        padding: 64px 32px 32px 32px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin:0px;
    }

    .top {
        position: fixed;
        right: 30px;
        z-index: 99;
        bottom:30px;
        height: 64px;
        background-color:#D6E7FF;
    }

    footer {
        background-color: black;
        color: white;
        padding: 64px 32px 32px 32px;
    }

    footer p {
        color: white;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    /* menu circles */

div {
    width: 18px;
}   

.small {
    height: 6px;
    min-height: 6px;
    width: 6px;
    margin: 0px 6px 0px 6px;
    align-items: center;
    align-self: center;
    align-content: center;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.medium {
    height: 12px;
    width: 12px;
    margin: 0px 3px 0px 3px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.large {
    height: 18px;
    min-height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

menu li {
    break-inside: avoid;
}

    
/* header circles */

    span {
        height: 20px;
        width: 20px;
        min-width: 20px;
        border-radius: 50%;
        border: 1px solid black;
        background: #C5CFE1;
        display: inline-block;
        margin-right:2%;
        margin-top: 20px;
    }

    #sect1 span {
        background: #D6E7FF;
    }

    #sect2 span {
        background: #FFD8D6;
    }

    #sect3 span {
        background: #FCFFD8;
    }

    #sect4 span {
        background: #DDFFD8;
    }

    #sect5 span {
        background: #F9D8FF;
    }

    #sect6 span {
        background: #C5CFE1;
    }

    

/* desktop */

@media (min-width: 768px) {

    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        margin-bottom: 32px;
        max-width: 80%;
        align-items: center; 
    }

    header p {
        max-width: 32em;
    }

    header section {
        display: flex;
        flex-direction: horizontal;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: end;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    header button {
        height: fit-content;
        align-self: center;
    }
    
    h1, h2{
        line-height:1.1em;
    }

    nav button {
        white-space: wrap;
        margin-right: 16px;
    }
   
    main { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 56px;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        padding: 32px 16px 144px 16px;
    }

    article {
        max-width: 72em;
    }

    .author p{
        margin: auto;
        max-width: 50%;
        padding-bottom: 32px;
    }

    footer p {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 32px;
    }

    .top{
        display:none;
    }

    h1 {
        font-size: 96px;
    }

    aside {
        position: sticky;
        flex-wrap: wrap;
        max-height: 100vh;
        overflow-y: scroll;
        min-width: 24em;
        background-color: white;
        top: 32px;
    }

    
}

/* accessibility */

prefers-reduced-motion {
    html {
        scroll-behavior:auto; 
    }
}

/* For print */
@media print{
    :root{
        --background-color:white;
    }
    .top{
        display:none;
    }
    aside, button{
        display:none;
    }
    footer p{
        color:black;
    }
    hr:nth-child(3){
        margin-bottom:-10mm;
    }
    article #sect2,#sect4, #sect5{
        page-break-before:always;
    }
    article a:visited {
        color:black;
        font-weight:400px;
    }
    article a:link{
        color:black;
        font-weight:400px;
    }
    .author a:link{
        color:black;
        font-weight:400px;
    }
    article #sect6 {
        border-bottom:1px solid black ;
        padding-bottom:40px;
    }


}





/*/////////////Mobile menu///////
aside{
        height:fit-content;
        font-family:'Montserrat', sans-serif;
        font-size:20pt; 
        font-weight: 500;
        align-content: left;
        position:fixed;
        top:0px;
        width:100%;
        padding:16px 16px;
        background-color:#ffffff;
        border-bottom: solid black 1px;
        margin-left:-16px;
    }
    summary{
        width:100%;
        background-color:white;
        height:fit-content;
        text-align: center;

    }
  