/* Mobile version */

html{
    background-color:white;
    scroll-behavior: smooth;
}

    b {
       font-weight: 600; 
    }

    em {
        font-style: italic;
    }
    
    li{
        color:579FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size:18pt;
    }

    li p, time {
        font-family: 'Montserrat', sans-serif;
        color:#579FFF
    }

    hr{
        border-bottom: 1px
        solid black;
        margin:20px 0px;
    }

    .menuhr {
        width: 10em;
    }


    h1{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:42pt;
        margin-bottom:2%;
        line-height:1.2em;
    
    }

    h2{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:36pt;
        margin-bottom:1.5rem;
    }

    h3 {
        color:black;
        font-family: 'Montserrat', sans-serif;
        font-weight:500;
        font-size:20pt;
        margin-bottom:1.5rem;  
    } 

    header {
        margin:32px;
    }

    header p{
        font-family: 'Montserrat', sans-serif;
        font-size:16pt;
        margin:2% 0%;
    }
    header section p{
        margin-left:-16px;
    }
    header section button{
        margin-left:-16px;
    }



    nav button{
        background-color:white;
        top: 30px;
    }


    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:8px 16px;
        padding: 5px 15px 5px 15px;
        border-radius: 50px;
        border: 1px solid black;
    }

    nav button:nth-child(1):hover{
        background-color:#D6E7FF;
    }

    nav button:nth-child(2):hover{
    background-color:#FFD8D6;
    }

    nav button:nth-child(3):hover{
    background-color:#FCFFD8;
    }

    nav button:nth-child(4):hover{
        background-color:#DDFFD8;
    }

    nav button:nth-child(5):hover{
        background-color:#F9D8FF;
    }

    nav button:nth-child(6):hover{
        background-color:#C5CFE1;
    }
    


    header button {
        font-size: 20px;
    
    }

    menu {
        margin: 16px;


    }

    menu button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:0.5rem 0rem;
        padding: 0px;
        border-radius: 50px;
        border: 0px;
    }

    menu ul {
        display: flex;
        flex-direction: column;
        margin: 16px 0px 16px 0px;
    }

    menu div {
        border-top: 1px black;
        border-bottom: 1px black;
    }

    p {
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:400;
        font-size:20pt;
        line-height: 1.25;
        margin-bottom: 2rem;
    }

    article a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 600;
    }

    article a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 600;
    }
    
    article a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 600;
    }

    .author a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 600;
    }

    .author a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 600;
    }
    
    .author a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 600;
    }
    
    header ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
    }

    section {
        padding: 0px 16px 0px 16px;
        margin: 64px 0px 64px 0px;
    }

    main {
        padding: 0px 16px 0px 16px;
    }

    .author {
        background-color: #D2E5FD;
        padding: 64px 32px 32px 32px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin:0px;
    }

    .top {
        position: fixed;
        right: 30px;
        z-index: 99;
        top:600px;
        height: 64px;
        background-color:#D6E7FF;
    }

    footer {
        background-color: black;
        color: white;
        padding: 64px 32px 32px 32px;
    }

    footer p {
        color: white;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    /* menu circles */

.small {
    height: 6px;
    width: 6px;
    margin: 0px 6px 0px 6px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.medium {
    height: 12px;
    width: 12px;
    margin: 0px 3px 0px 3px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.large {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

menu li {
    break-inside: avoid;
}
    
    /* header circles */

    span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid black;
        background: #C5CFE1;
        display: inline-block;
        margin-right:1%;
    }

    #sect1 span {
        background: #D6E7FF;
    }

    #sect2 span {
        background: #FFD8D6;
    }

    #sect3 span {
        background: #FCFFD8;
    }

    #sect4 span {
        background: #DDFFD8;
    }

    #sect5 span {
        background: #F9D8FF;
    }

    #sect6 span {
        background: #C5CFE1;
    }


@media (min-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center; 
    }

    header p {
        max-width: 32em;
    }

    header section {
        display: flex;
        flex-direction: horizontal;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
        width: 100%;
    }

    aside {
        max-width: 32em;
    }

    header button {
        height: fit-content;
        
    }

    nav button {
        white-space: nowrap;
    }
    #sect2:hover{
        background-color: #FFD8D6;
    }

    main { 
        display: flex;
        flex-direction: horizontal;
        justify-content: center;
        align-items: start;
        gap: 96px;
        max-width: 90%;
        margin-left: 32px;
    }

    article {
        width: 64em;
    }

    .author p{
        max-width: 50%;
        margin: auto;
        padding-top: 32px;
        padding-bottom: 64px
    }

    footer p {
        max-width: 50%;
        margin: auto;
    }


}

/* desktop / 
//////////////Mobile menu///////
aside{
        height:fit-content;
        font-family:'Montserrat', sans-serif;
        font-size:20pt; 
        font-weight: 500;
        align-content: left;
        position:fixed;
        top:0px;
        width:100%;
        padding:16px 16px;
        background-color:#ffffff;
        border-bottom: solid black 1px;
        margin-left:-16px;
    }
    summary{
        width:100%;
        background-color:white;
        height:fit-content;
        text-align: center;

    }
  