html{
    background-color:white;
}

  
    b {
       font-weight: 700; 
    }

    em {
        font-style: italic;
    }
    
    li{
        color:579FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size:18pt;
    }

    li p, time, cite {
        font-family: 'Montserrat', sans-serif;
        color:#579FFF
    }

    h1{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:700;
        font-size:48pt;
        margin-bottom:2%;
    
    }

    h2{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:40pt;
        margin-bottom:2%;
    }

    header {
        margin:32px;
    }

    header p{
        font-family: 'Montserrat', sans-serif;
        font-size:16pt;
        margin:2% 0%;
    }

    button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:0.5rem 0rem;
        padding: 9px 24px 9px 24px;
        border-radius: 50px;
        border: 1px solid black;
    }

    header button {
        font-size: 24px;
    }

    menu button {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin:0.5rem 0rem;
        padding: 0px;
        border-radius: 50px;
        border: 0px;
    }

    menu ul {
        display: flex;
        flex-direction: column;
    }

    p {
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:400;
        font-size:20pt;
        line-height: 1.25;
    }

    a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 700;
    }

    a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 700;
    }
    
    a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 700;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px;
    }

    section {
        padding: 0px 16px 0px 16px;
        margin: 64px 0px 64px 0px;
    }

    main {
        padding: 0px 16px 0px 16px;
    }

    .author {
        background-color: #D2E5FD;
        padding: 64px 16px 64px 16px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    footer {
        background-color: black;
        color: white;
        padding: 64px 64px 64px 64px;
    }

    footer p {
        color: white;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

/* size circles */
.small {
    height: 6px;
    width: 6px;
    margin: 0px 6px 0px 6px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.medium {
    height: 12px;
    width: 12px;
    margin: 0px 3px 0px 3px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

.large {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: black;
    display: inline-block;
    margin-right:1%;
}

menu li {
    break-inside: avoid;
}
    
/* adding circles */

    span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid black;
        background: #C5CFE1;
        display: inline-block;
        margin-right:1%;
    }

    #sect1 span {
        background: #D6E7FF;
    }

    #sect2 span {
        background: #FFD8D6;
    }

    #sect3 span {
        background: #FCFFD8;
    }

    #sect4 span {
        background: #DDFFD8;
    }

    #sect5 span {
        background: #F9D8FF;
    }

    #sect6 span {
        background: #C5CFE1;
    }


