html{
    background-color:white;
    margin:32px;

}

  
    b {
       font-weight: 700; 
    }

    em {
        font-style: italic;
    }
    
    li{
        color:579FFF;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size:18pt;
    }
    li p{
        font-family: 'Montserrat', sans-serif;
        color:#579FFF
    }

    h1{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:700;
        font-size:48pt;
        margin-bottom:2%;
    
    }

    h2{
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:500;
        font-size:40pt;
        margin-bottom:2%;
    }
    header p{
        font-family: 'Montserrat', sans-serif;
        font-size:16pt;
        margin:2% 0%;
    }
    button{
        margin:0.5rem 0rem;
    }
    p {
        color:black;
        font-family: 'EB Garamond', serif;
        font-weight:400;
        font-size:20pt;
        line-height: 1.25;
    }

    a:link {
        color: #0044F3;
        text-decoration: none;
        font-weight: 700;
    }

    a:visited {
        color: #640094;
        text-decoration: none;
        font-weight: 700;
    }
    
    a:hover {
        color: #A500F3;
        text-decoration: none;
        font-weight: 700;
    }

    section {
        padding: 0px 16px 0px 16px;
        margin: 64px 0px 64px 0px;
    }

    main {
        padding: 0px 16px 0px 16px;
    }

    footer {
        background-color: black;
        color: white;
        padding: 64px 64px 64px 64px;
    }

    footer p {
        color: white;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
    }

    
/* adding circles */

    span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px;
        background: #C5CFE1;
        border-color: black;
        display: inline-block;
        margin-right:1%;
    }

    #sect1 span {
        background: #D6E7FF;
    }

    #sect2 span {
        background: #FFD8D6;
    }

    #sect3 span {
        background: #FCFFD8;
    }

    #sect4 span {
        background: #DDFFD8;
    }

    #sect5 span {
        background: #F9D8FF;
    }

    #sect6 span {
        background: #C5CFE1;
    }


